@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@500&display=swap");
@keyframes fadein {
  from {
    opacity: 0;
    transform: translatex(-100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.fade-in {
  animation-name: fadein;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0s;
}
@keyframes faderight {
  from {
    opacity: 0;
    transform: translatex(100px);
  }
  to {
    opacity: 1;
    transform: translatex(0);
  }
}
.faderight {
  animation-name: faderight;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0s;
}
@keyframes fadeoutright {
  from {
    opacity: 1;
    transform: translatex(0);
  }
  to {
    opacity: 0;
    transform: translatex(100px);
  }
}
.fadeoutright {
  animation-name: fadeoutright;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0s;
}
.titulo {
  padding-top: 20rem;
  padding-left: 15rem;
  color: rgb(240, 240, 240);
  display: inline-block;
}
.letras {
  font-family: "Ubuntu", sans-serif;
  font-size: 4.8em;
  display: inline-block;
  transition: color 0.4s;
}
.letras:hover,
.desenvolvedor:hover {
  color: aqua;
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s;
  cursor: default;
}
.letras:hover {
  transform: scale(1.05);
}
.espaco {
  visibility: hidden;
  font-size: 2.5em;
}
.descricao {
  display: inline-block;
  letter-spacing: 4px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(195, 195, 195);
  font-size: 1.2em;
}
.descricao-div {
  display: block;
  padding-left: 15.5em;
  z-index: 1;
}
.song-button {
  padding-left: 15em;
}

.quem_sou_eu {
  display: inline-block;
  color: white;
  transition: 1s opacity;
  opacity: 0;
}
.desenvolvedor{
  margin-bottom: 0;
}
.sabermais{
  display: inline-block;
  margin-top: 0.5em;
  margin-left: 5em;
  font-weight: 600;
  font-size: 1em;
  color: rgb(255, 0, 76)
}
.sabermais:hover{
  color: aqua;
  cursor: pointer;
}
.sobreMimTexto{
  display: inline-block;
  text-align:justify;
  position: absolute;
  top: 17em;
  right: 12em;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s;
  width: 20em;
  height: 20em;
  text-justify:distribute;
  font-family: "Ubuntu", sans-serif;
  opacity: 0;
}
.sobreMimTexto:hover{
  color: aqua;
  -webkit-transition-delay: 0.01s;
  transition-delay: 0.01s;
  cursor: default;
}
@media screen and (max-width:1700px){
  .titulo{
    padding-top: 0;
  }

}

@media screen and (max-width:1440px) {
  
  .sobremimcard1{
    transform: scale(0.4);
    position: absolute;
    top:25em;
    left: 15em;
  }
  
}

@media only screen and (max-width: 912px) {
  body {
    overflow: hidden;
  }
  .body-sobreMim{
    top:-9em;
    width: 100%;
    position: absolute;
  }
  .descricao-div{
    padding-left: 0;
  }
  .sobreMimTexto{
    transform: scale(0.5);
    left:0;
  }
  .sobreMimTexto{
    padding-bottom: 1em ;
  }
  .sobreMim {
    position: absolute;
    width: 100%;
    top: 15em;
  }
  .titulo {
    display: inline-block;
    padding: 0;
    padding-left: 0.5em;
    width: 100%;
  }
  .Typewriter {
    display: block;
    padding-left: 0.5em;
    font-size: 1em;
  }
  .letras {
    font-size: 2em;
  }
  .espaco {
    font-size: 0.8em;
  }
  .sobreMim-mobile-off {
    display: block;
    position: absolute;
    left: 1em;
    top: 15em;
    width: 90%;
    height: 60%;
    animation: slideRight2 0.5s forwards;
    right: 100%;
  }

  @keyframes slideRight2 {
    0% {
      left: -100%;
    }
    100% {
      right: 0;
    }
  }
  .sobreMim-mobile-on {
    display: block;
    position: absolute;
    top: 15em;
    width: 90%;
    height: 60%;
    transform: translateX(-100%);
    animation: slide 0.5s forwards;
    left: 100%;
  }
  @keyframes slide {
    100% {
      left: 0;
    }
  }
  .sobreMimTexto{
    position: absolute;
    text-align: center;
    width: 600px;
    height: 600px;
    top: 16em;
    left: 1em;
    width: 350px;
    font-size: 0.9em;
  }
}
